<a href="https://colab.research.google.com/github/hammaduu/LLMs/blob/main/LLM_Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!pip install -qU langchain-groq langchain langchain_core "langchain-chroma>=0.1.2" langchain_community sentence_transformers fastembed

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 67.3/67.3 kB 2.8 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 438.4/438.4 kB 8.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.5/2.5 MB 48.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 99.0/99.0 kB 5.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.0/19.0 MB 79.0 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 94.9/94.9 kB 6.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.4/129.4 kB 8.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.6/61.6 kB 4.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 101.6/101.6 kB 6.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 83.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 324.8/324.8 kB 18.9 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.4/44.4 kB 2.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 363.4/363.4 MB 4.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.8/13.8 MB 95.7 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 24.6/24.6 MB 78.7 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 883.7/883.7 kB 39.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 664.8/664.8 MB 2.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 211.5/211.5 MB 5.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 56.3/56.3 MB 12.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 127.9/127.9 MB 7.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 207.5/207.5 MB 5.9 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.1/21.1 MB 86.9 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 284.2/284.2 kB 18.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 70.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 50.9/50.9 kB 3.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.8/65.8 kB 4.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.9/55.9 kB 3.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 194.9/194.9 kB 13.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 119.0/119.0 kB 6.9 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.7/96.7 kB 5.7 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.5/62.5 kB 4.0 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 46.0/46.0 kB 2.9 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 459.8/459.8 kB 25.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 86.8/86.8 kB 6.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 71.5/71.5 kB 4.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.0/4.0 MB 84.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 454.8/454.8 kB 27.2 MB/s eta 0:00:00
  Building wheel for pypika (pyproject.toml) ... done

In [7]:
import getpass
import os
os.environ["GROQ_API_KEY"] = getpass.getpass("Enter your Groq API key: ")

Enter your Groq API key: ··········

In [8]:
from langchain_groq import ChatGroq

In [9]:
llm = ChatGroq(
    model="llama3-70b-8192",
    temperature=0,
    max_tokens=1024
)

In [10]:
!pip install faker

Collecting faker
  Downloading faker-37.3.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /usr/local/lib/python3.11/dist-packages (from faker) (2025.2)
Downloading faker-37.3.0-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 20.4 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-37.3.0

In [11]:
import pandas as pd
import random
import numpy as np
from datetime import datetime
from faker import Faker

fake = Faker()

# Generate 10 unique mock B2B customers
customers = [fake.company() for _ in range(10)]
months = ["2024-03", "2024-04"]

# Invoice summary (aggregated by customer per month)
invoice_summary_data = []
for customer in customers:
    for month in months:
        invoice_summary_data.append({
            "customer_name": customer,
            "invoice_month": month,
            "total_amount": random.randint(80000, 180000),
            "msisdn_count": random.randint(25, 75)
        })

invoice_summary_df = pd.DataFrame(invoice_summary_data)

# Generate ~50 MSISDNs with customer association
msisdns = []
for customer in customers:
    count = random.randint(5, 10)
    for _ in range(count):
        msisdns.append({
            "customer_name": customer,
            "msisdn": "9230" + ''.join([str(random.randint(0, 9)) for _ in range(7)])
        })

# Generate per-day MSISDN usage for April 2024
usage_data = []
for record in msisdns:
    for _ in range(random.randint(3, 7)):  # simulate multiple records per MSISDN
        day = random.randint(1, 28)
        usage_data.append({
            "msisdn": record["msisdn"],
            "customer_name": record["customer_name"],
            "date": f"2024-04-{day:02}",
            "data_mb": random.randint(100, 5000),
            "calls": random.randint(0, 50),
            "sms": random.randint(0, 20),
            "location": fake.city()
        })

msisdn_usage_df = pd.DataFrame(usage_data)

# Preview samples
invoice_summary_df.head(), msisdn_usage_df.head()

(             customer_name invoice_month  total_amount  msisdn_count
 0             Walker Group       2024-03        177229            42
 1             Walker Group       2024-04        138330            56
 2       Martinez-Alexander       2024-03        119785            68
 3       Martinez-Alexander       2024-04         97791            57
 4  Parks, Duke and Terrell       2024-03        130669            44,
         msisdn customer_name        date  data_mb  calls  sms       location
 0  92301266473  Walker Group  2024-04-06     2438      8   15  Carterborough
 1  92301266473  Walker Group  2024-04-05     2079     41    2    New Suzanne
 2  92301266473  Walker Group  2024-04-03     2972     23    1    East George
 3  92309167464  Walker Group  2024-04-23     4252      1   10   Port Charles
 4  92309167464  Walker Group  2024-04-22     4545     45    8  East Adamstad)

In [125]:
def get_invoice_change(customer_name: str, month1: str, month2: str):
    """Compare two months of invoice totals for a given customer, with debug tracing."""
    invoice_summary_df["invoice_month"] = invoice_summary_df["invoice_month"].astype(str).str.strip().str[:7]
    invoice_summary_df["customer_name"] = invoice_summary_df["customer_name"].astype(str).str.lower().str.strip()
    customer_name = customer_name.lower().strip()
    month1 = month1.strip().strip("'").strip('"')
    month2 = month2.strip().strip("'").strip('"')

    #df = invoice_summary_df.copy()
    df = pd.DataFrame(invoice_summary_df.values, columns=invoice_summary_df.columns)
    df["customer_name"] = df["customer_name"].str.lower().str.strip()
    df["invoice_month"] = df["invoice_month"].str.strip().str[:7]

    #print(f"[DEBUG] customer: '{customer_name}', month1: '{month1}', month2: '{month2}'")
    #print("[DEBUG] unique invoice_months:", df["invoice_month"].unique())
    #print("[DEBUG] unique customer_names:", df["customer_name"].unique())

    # Print intermediate filtered views
    df_customer_only = df[df["customer_name"] == customer_name]
    #print("[DEBUG] Records for customer only:")
    print(df_customer_only)

    df_month_only = df[df["invoice_month"].isin([month1, month2])]
    #print("[DEBUG] Records for both months only:")
    print(df_month_only)

    # Final filter
    df_filtered = df_customer_only[df_customer_only["invoice_month"].isin([month1, month2])]
    #print("[DEBUG] df_filtered:")
    print(df_filtered)

    if len(df_filtered) != 2:
        return f"Could not find data for both months: {month1}, {month2}"

    values = df_filtered.set_index("invoice_month")["total_amount"].to_dict()
    diff = values[month2] - values[month1]
    pct = round((diff / values[month1]) * 100, 2)
    return f"{customer_name.title()}'s invoice changed from {values[month1]} in {month1} to {values[month2]} in {month2} — a change of {diff} ({pct}%)."

def get_top_msisdns_by_data(customer_name: str, month: str, top_n: int = 5):
    customer_name = customer_name.lower().strip()
    df = msisdn_usage_df.copy()
    df["customer_name"] = df["customer_name"].str.lower().str.strip()

    # Show incoming values
    #print(f"[DEBUG] Searching for: customer='{customer_name}', month='{month}'")
    #print("[DEBUG] df['date'] type:", df["date"].dtype)

    # Normalize month from date
    df["month"] = df["date"].str[:7] if df["date"].dtype == "O" else df["date"].dt.strftime("%Y-%m")
    #print("[DEBUG] unique months:", df["month"].unique())

    msisdn_df = df[
        (df["customer_name"] == customer_name) &
        (df["month"] == month)
    ]

    if msisdn_df.empty:
        return f"No usage data found for '{customer_name.title()}' in {month}."

    totals = msisdn_df.groupby("msisdn")["data_mb"].sum().sort_values(ascending=False).head(top_n)
    return f"Top {top_n} MSISDNs by data usage for {customer_name.title()} in {month}:\n" + totals.reset_index().to_string(index=False)

In [120]:
from langchain.tools import Tool

def safe_invoice_change_wrapper(input_str: str):
    try:
        # Handle LLM malformed input by splitting the string manually
        parts = input_str.split(",", 2)  # Only split into 3 parts: name, month1, month2

        if len(parts) < 3:
            return "[Tool Error - GetInvoiceChange] Invalid input. Expected format: Customer, YYYY-MM, YYYY-MM"

        customer = parts[0].strip(" '\"\n").strip()
        month1 = parts[1].strip(" '\"\n").strip()
        month2 = parts[2].split()[0].strip(" '\"\n").strip()  # Strip anything after month2 like hallucinated thoughts

        #print(f"[DEBUG] FINAL CLEANED: customer='{customer}', month1='{month1}', month2='{month2}'")
        return get_invoice_change(customer, month1, month2)

    except Exception as e:
        return f"[Tool Error - GetInvoiceChange] {str(e)}"

def safe_top_msisdns_wrapper(input_str: str):
    try:
        parts = [x.strip().strip("'").strip('"') for x in input_str.split(",")]
        customer = parts[0]
        month = parts[1]
        return get_top_msisdns_by_data(customer, month)
    except Exception as e:
        return f"[Tool Error - GetTopMSISDNs] {str(e)}"

tools = [
    Tool(
        name="GetInvoiceChange",
        func=safe_invoice_change_wrapper,
        description="Compare invoice totals between two months. Input: 'Customer Name,YYYY-MM,YYYY-MM'",
        return_direct=True
    ),
    Tool(
        name="GetTopMSISDNs",
        func=safe_top_msisdns_wrapper,
        description="Get top MSISDNs by data usage. Input: 'Customer Name,YYYY-MM'",
        return_direct=True
    )
]

In [121]:
from langchain.agents import initialize_agent, AgentType

agent = initialize_agent(
    tools=tools,
    llm=llm,
    agent=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
    verbose=True
)

In [126]:
response = agent.run("Why did invoice increase for walker group between 2024-03 and 2024-04?")
print(response)

> Entering new AgentExecutor chain...
Thought: I need to compare the invoice totals between 2024-03 and 2024-04 for Walker Group.

Action: GetInvoiceChange
Action Input: 'Walker Group,2024-03,2024-04

Thought: Now I have the invoice change, but I need to understand why it increased.

Action: GetTopMSISDNs
Action Input: 'Walker Group,2024-04'
  customer_name invoice_month total_amount msisdn_count
0  walker group       2024-03       177229           42
1  walker group       2024-04       138330           56
                       customer_name invoice_month total_amount msisdn_count
0                       walker group       2024-03       177229           42
1                       walker group       2024-04       138330           56
2                 martinez-alexander       2024-03       119785           68
3                 martinez-alexander       2024-04        97791           57
4            parks, duke and terrell       2024-03       130669           44
5            parks, duke and terrell       2024-04        84735           69
6           robinson, kim and warren       2024-03       122307           26
7           robinson, kim and warren       2024-04       135947           62
8                       leonard-hill       2024-03       178556           75
9                       leonard-hill       2024-04       105991           60
10  jefferson, rodriguez and murillo       2024-03       170680           25
11  jefferson, rodriguez and murillo       2024-04        97787           71
12         anderson, welch and chase       2024-03       179696           68
13         anderson, welch and chase       2024-04       100369           73
14                        carney llc       2024-03        98648           26
15                        carney llc       2024-04       118022           49
16                    chang and sons       2024-03       163350           45
17                    chang and sons       2024-04       118862           38
18   hernandez, williams and lindsey       2024-03        95671           34
19   hernandez, williams and lindsey       2024-04       163821           35
  customer_name invoice_month total_amount msisdn_count
0  walker group       2024-03       177229           42
1  walker group       2024-04       138330           56

Observation: Walker Group's invoice changed from 177229 in 2024-03 to 138330 in 2024-04 — a change of -38899 (-21.95%).


> Finished chain.
Walker Group's invoice changed from 177229 in 2024-03 to 138330 in 2024-04 — a change of -38899 (-21.95%).

In [115]:
agent.run("List top 5 MSISDNs by data usage for walker group in 2024-04.")

> Entering new AgentExecutor chain...
Thought: I need to get the top MSISDNs by data usage for Walker Group in 2024-04.

Action: GetTopMSISDNs
Action Input: 'Walker Group,2024-04'[DEBUG] Searching for: customer='walker group', month='2024-04'
[DEBUG] df['date'] type: object
[DEBUG] unique months: ['2024-04']

Observation: Top 5 MSISDNs by data usage for Walker Group in 2024-04:
     msisdn  data_mb
92304230271    15660
92304185869    15438
92307624664    15048
92302538619    11052
92309167464    10372


> Finished chain.

'Top 5 MSISDNs by data usage for Walker Group in 2024-04:\n     msisdn  data_mb\n92304230271    15660\n92304185869    15438\n92307624664    15048\n92302538619    11052\n92309167464    10372'

In [108]:
get_invoice_change("Walker Group", "2024-03", "2024-04")

[DEBUG] customer: 'walker group', month1: '2024-03', month2: '2024-04'
[DEBUG] unique invoice_months: ['2024-03' '2024-04']
[DEBUG] unique customer_names: ['walker group' 'martinez-alexander' 'parks, duke and terrell'
 'robinson, kim and warren' 'leonard-hill'
 'jefferson, rodriguez and murillo' 'anderson, welch and chase'
 'carney llc' 'chang and sons' 'hernandez, williams and lindsey']
[DEBUG] Records for customer only:
  customer_name invoice_month total_amount msisdn_count
0  walker group       2024-03       177229           42
1  walker group       2024-04       138330           56
[DEBUG] Records for both months only:
                       customer_name invoice_month total_amount msisdn_count
0                       walker group       2024-03       177229           42
1                       walker group       2024-04       138330           56
2                 martinez-alexander       2024-03       119785           68
3                 martinez-alexander       2024-04        97791           57
4            parks, duke and terrell       2024-03       130669           44
5            parks, duke and terrell       2024-04        84735           69
6           robinson, kim and warren       2024-03       122307           26
7           robinson, kim and warren       2024-04       135947           62
8                       leonard-hill       2024-03       178556           75
9                       leonard-hill       2024-04       105991           60
10  jefferson, rodriguez and murillo       2024-03       170680           25
11  jefferson, rodriguez and murillo       2024-04        97787           71
12         anderson, welch and chase       2024-03       179696           68
13         anderson, welch and chase       2024-04       100369           73
14                        carney llc       2024-03        98648           26
15                        carney llc       2024-04       118022           49
16                    chang and sons       2024-03       163350           45
17                    chang and sons       2024-04       118862           38
18   hernandez, williams and lindsey       2024-03        95671           34
19   hernandez, williams and lindsey       2024-04       163821           35
[DEBUG] df_filtered:
  customer_name invoice_month total_amount msisdn_count
0  walker group       2024-03       177229           42
1  walker group       2024-04       138330           56

"Walker Group's invoice changed from 177229 in 2024-03 to 138330 in 2024-04 — a change of -38899 (-21.95%)."

In [20]:
invoice_summary_df["customer_name"] = invoice_summary_df["customer_name"].str.strip()
msisdn_usage_df["customer_name"] = msisdn_usage_df["customer_name"].str.strip()

In [21]:
invoice_summary_df["customer_name"] = invoice_summary_df["customer_name"].str.strip().str.lower()
msisdn_usage_df["customer_name"] = msisdn_usage_df["customer_name"].str.strip().str.lower()

In [23]:
invoice_summary_df[invoice_summary_df["customer_name"].str.lower().str.strip() == "walker group"]

  customer_name invoice_month  total_amount  msisdn_count
0  walker group       2024-03        177229            42
1  walker group       2024-04        138330            56

In [24]:
msisdn_usage_df[
    (msisdn_usage_df["customer_name"].str.lower().str.strip() == "walker group") &
    (msisdn_usage_df["date"].str.startswith("2024-04"))
]

,msisdn,customer_name,date,data_mb,calls,sms,location
0,92301266473,walker group,2024-04-06,2438,8,15,Carterborough
1,92301266473,walker group,2024-04-05,2079,41,2,New Suzanne
2,92301266473,walker group,2024-04-03,2972,23,1,East George
3,92309167464,walker group,2024-04-23,4252,1,10,Port Charles
4,92309167464,walker group,2024-04-22,4545,45,8,East Adamstad
5,92309167464,walker group,2024-04-24,1575,2,7,Stonehaven
6,92304185869,walker group,2024-04-13,3690,8,11,Rebeccaville
7,92304185869,walker group,2024-04-13,1290,8,6,South Joan
8,92304185869,walker group,2024-04-02,3326,15,16,Jennifermouth
9,92304185869,walker group,2024-04-11,2201,8,1,Chavezstad
10,92304185869,walker group,2024-04-10,4931,16,3,Port Julia
11,92307624664,walker group,2024-04-04,1156,46,5,North Paulaberg
12,92307624664,walker group,2024-04-06,341,12,0,West Danielville
13,92307624664,walker group,2024-04-28,2190,31,14,Port Austin
14,92307624664,walker group,2024-04-16,2387,36,0,Port Jamesport
15,92307624664,walker group,2024-04-02,1420,23,18,Brittanyport
16,92307624664,walker group,2024-04-11,3332,14,18,East Darlene
17,92307624664,walker group,2024-04-11,4222,12,11,Jenniferburgh
18,92308273401,walker group,2024-04-08,3390,42,11,North Bryce
19,92308273401,walker group,2024-04-17,777,37,19,Port Craigfort
20,92308273401,walker group,2024-04-19,3266,24,12,North Kimhaven
21,92302538619,walker group,2024-04-15,1396,20,12,East Tyler
22,92302538619,walker group,2024-04-10,4534,46,8,East Roberthaven
23,92302538619,walker group,2024-04-17,4986,22,12,Chapmanville
24,92302538619,walker group,2024-04-08,136,38,4,Toddmouth
25,92309010941,walker group,2024-04-07,226,46,5,East Charles
26,92309010941,walker group,2024-04-17,2190,20,14,Amyport
27,92309010941,walker group,2024-04-14,163,0,11,North Shannon
28,92309010941,walker group,2024-04-10,2771,47,3,North Jamesberg
29,92306587298,walker group,2024-04-26,3070,33,0,Kevintown
30,92306587298,walker group,2024-04-25,2498,33,14,South Martintown
31,92306587298,walker group,2024-04-01,2378,7,10,West Michaelmouth
32,92306587298,walker group,2024-04-25,923,21,10,Taylorburgh
33,92306587298,walker group,2024-04-02,174,47,17,Jonesborough
34,92304230271,walker group,2024-04-28,1048,36,20,South Kristen
35,92304230271,walker group,2024-04-12,2883,42,9,Bestburgh
36,92304230271,walker group,2024-04-09,347,50,4,South Michaelstad
37,92304230271,walker group,2024-04-07,985,34,6,New Jessicaview
38,92304230271,walker group,2024-04-15,4045,28,13,Kellyburgh
39,92304230271,walker group,2024-04-13,3815,5,0,Royside
40,92304230271,walker group,2024-04-26,2537,31,3,Margaretstad
41,92309655687,walker group,2024-04-04,125,35,6,East Jonathan
42,92309655687,walker group,2024-04-14,753,22,4,South Anthonyfort
43,92309655687,walker group,2024-04-21,359,10,3,East Allisonburgh
44,92309655687,walker group,2024-04-19,204,16,20,Peterchester
45,92309655687,walker group,2024-04-27,4169,21,12,Samanthaton
46,92309655687,walker group,2024-04-12,1579,8,20,Port Kristen
47,92309655687,walker group,2024-04-09,1122,10,8,New Aaron

In [63]:
response = agent.run("Why did invoice increase for walker group between 2024-03 and 2024-04?")
print(response)

> Entering new AgentExecutor chain...
Thought: I need to compare the invoice totals between 2024-03 and 2024-04 for Walker Group.

Action: GetInvoiceChange
Action Input: 'Walker Group,2024-03,2024-04

Thought: Now I have the invoice change, but I need to understand why it increased.

Action: GetTopMSISDNs
Action Input: 'Walker Group,2024-04'

Observation: Could not find data for both months: 2024-03, 2024-04

Thought: Now I have the invoice change


> Finished chain.
Could not find data for both months: 2024-03, 2024-04

Thought: Now I have the invoice change